@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  font-size: 62.5%;
}
html ::-webkit-scrollbar {
  display: none;
}
html body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Roboto";
  background-color: rgb(243, 232, 238);
}
html body main {
  min-height: min-content;
  height: 700px;
  padding-bottom: 1rem;
  background-image: url("../images/montaña-izq.png"), url("../images/montaña-der.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
html body header, html body footer {
  background-color: rgb(41, 50, 65);
}
html body .linkStyle a, html body .linkStyle i {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
}
html body .linkStyle:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
}
html body .btn_clear {
  background-color: transparent;
  border: none;
  transition: all linear 0.4s;
}
html body .btn_solid {
  background-color: rgb(167, 67, 58);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}
html body .btn_solid:hover,
html body .btn_solid:focus {
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
html body .btn_solid:hover,
html body .btn_solid:focus,
html body .btn_clear:focus,
html body .btn_clear:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(255, 255, 255);
}
html body .btn_solid:hover span,
html body .btn_solid:focus span,
html body .btn_clear:focus span,
html body .btn_clear:hover span {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
html body #prod_Container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
html body #prod_Container .prod_Card {
  min-height: max-content;
  width: 20rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgb(41, 50, 65);
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
html body #prod_Container .prod_Card div {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
}
html body #prod_Container .prod_Card div img {
  height: 200px;
  width: 200px;
  transition-duration: 0.4s;
}
html body #prod_Container .prod_Card div img:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.main_header .main_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  grid-template-rows: auto auto;
  height: 100vh;
  width: 100vw;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: transparent;
}
.main_header .main_nav .nav_links {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100vh;
  min-width: min-content;
  padding-top: 30%;
  padding-left: 2rem;
  padding-right: 3.2rem;
  background-color: rgb(41, 50, 65);
}
.main_header .main_nav .nav_links .link_item {
  color: #ffffff;
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: medium;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid black;
}
.main_header .main_nav .nav_links .link_item i {
  display: block;
  font-size: 2.4rem;
  margin-right: 1rem;
}
.main_header .main_nav .nav_links .link_item:hover,
.main_header .main_nav .nav_links .link_item:focus {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.main_header .main_nav.show {
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.main_header .button_menu {
  position: relative;
  z-index: 200;
  width: 6.4rem;
  height: 6.4rem;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main_header .button_menu span {
  width: 6rem;
  height: 5px;
  margin-bottom: 10px;
  position: relative;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
  background: #ffffff;
  border-radius: 3px;
}
.main_header .button_menu.close span:nth-child(1) {
  opacity: 1;
  transform: rotate(45deg) translate(-5px, -10px);
  background: #ffffff;
  width: 5rem;
}
.main_header .button_menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(0px, 0px);
  width: 5rem;
}
.main_header .button_menu.close span:nth-child(3) {
  display: none;
}

/*
@media screen and (min-width: 768px) {
	.button-menu {
		display: none;
	}

	.main-nav {
		position: static;
		margin-left: 0;
		flex-basis: 70%;
		height: 100%;
	}

	.nav-links {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		background-color: mediumpurple;

	}

	.link-item {
		display: inline-block;
		margin-top: 0;
		margin-right: 2rem;
	}
}

*/
header {
  height: max-content;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 0 10px rgb(41, 50, 65);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "hburger hlogo hcart";
}
header #head_logo {
  grid-area: hlogo;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header #head_logo img {
  border-radius: 50%;
  transition: all linear 0.5s;
}
header #head_logo:hover img {
  box-shadow: 0px 0px 10px rgba(167, 67, 58, 0.5019607843), 1px 1px 10px rgb(255, 255, 255);
}
header #head_burger {
  grid-area: hburger;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header #head_cart {
  grid-area: hcart;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
header #head_cart i {
  font-size: 3.2rem;
}
header #head_cart .offcanvas {
  background-color: rgb(243, 232, 238);
}
header #head_cart .offcanvas .offcanvas-header {
  background-color: rgb(41, 50, 65);
}
header #head_cart .offcanvas .offcanvas-header .btn_close {
  padding-right: 1.5rem;
}
header #head_cart .offcanvas .offcanvas-header .btn_close i {
  font-size: 2rem;
}
header #head_cart .offcanvas .cart_footer {
  border-top: 1px dotted rgba(167, 67, 58, 0.5019607843);
  padding-top: 1rem;
}
header #head_cart .offcanvas .cart_item {
  border: 1px solid rgba(167, 67, 58, 0.5019607843);
  min-height: 10rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}
header #head_cart .offcanvas .cart_item span {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 5px rgba(41, 50, 65, 0.5019607843);
}
header #head_cart .offcanvas .cart_item:hover,
header #head_cart .offcanvas .cart_item:focus-visible {
  box-shadow: 1px 1px 5px rgb(41, 50, 65);
}
header #head_cart .offcanvas i, header #head_cart .offcanvas span {
  color: rgb(255, 255, 255);
}
header #head_cart .offcanvas .btn {
  min-width: min-content;
  height: auto;
  min-height: 3.2rem;
  font-size: 1.8rem;
  font-weight: normal;
}
header i {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

footer {
  height: 10rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  background-image: url("../images/hormiguita.png");
  background-repeat: no-repeat;
  background-position: right;
}
footer #footer_contact {
  width: 100%;
}
footer a {
  font-size: 3.2rem;
  margin-right: 1rem;
}
footer span {
  font-size: 2.4rem;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
