.main_header {
	.main_nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;

		display: grid;
		grid-template-rows: auto auto;

		height: 100vh;
		width: 100vw;
		margin-left: -100%;
		transition: all 0.2s linear;
		background-color: #00000080;
		
		.nav_links {
			display: flex;
			flex-direction: column;
			
			min-width: max-content;
			width: 65%;
			height: 100vh;

			padding-top: 30%;
			padding-left: 2rem;
			padding-right: 3.2rem;
			
			background-color: nth($paleta, 4);
			
			.link_item {
				color: #ffffff;
				font-size: 2.4rem;
				text-decoration: none;
				font-weight: medium;

				width: 100%;
				padding: 1.5rem 0;
				
				border-bottom: 1px solid black;

				i{
					font-size: 2.4rem;
					margin-right: 1rem;
				}
			}
		}

	}
	
	.main_nav.show {
		margin-left: 0;
	}
	
	#cart_button{

		position: relative;
		z-index: 200;
	}

	.button_menu {
		position: relative;
		z-index: 200;
		
		width: 6.4rem;
		height: 6.4rem;
		border: none;
		background: none;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		cursor: pointer;
		
		span {
			width: 6rem;
			height: 5px;
			margin-bottom: 10px;

			position: relative;
			transform-origin: 4px 0px;
			transition: all 0.2s linear;
			
			background: #ffffff;
			border-radius: 3px;
		}
	}

	
	.button_menu.close span:nth-child(1) {
		opacity: 1;
		transform: rotate(45deg) translate(0px, 0px);
	}
	
	.button_menu.close span:nth-child(3) {
		transform: rotate(-45deg) translate(-15px, 10px);
	}
	
	.button_menu.close span:nth-child(2) {
		display: none;
	}
	
	.button_menu:hover,
	.button_menu:focus{
		span{
			box-shadow: 0 0 5px white;
		}
	}
}
/*
@media screen and (min-width: 768px) {
	.button-menu {
		display: none;
	}

	.main-nav {
		position: static;
		margin-left: 0;
		flex-basis: 70%;
		height: 100%;
	}

	.nav-links {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		background-color: mediumpurple;

	}

	.link-item {
		display: inline-block;
		margin-top: 0;
		margin-right: 2rem;
	}
}

*/