.cart_item{
	display: flex;
	flex-direction: column;
	
	.prodCart{
		width: 90%;
		padding: 1rem 0.2rem;
		margin: 1rem 0;

		display: grid;
		grid-template-columns: repeat(3,1fr);
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;

		border-bottom: 1px solid nth($paleta,4);

		img{
			width: 6.4rem;
		}
	}
}

.cart_footer{
	text-align: center;
}

