.cart_item{

	.prodCart{
		width: 90%;
		padding: 0 0.2rem;

		display: grid;
		grid-template-columns: repeat(3,1fr);
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;

		border-bottom: 1px solid nth($paleta,4);

		img{
			width: 6.4rem;
		}
	}
}