*{
    padding: 0;
    margin: 0;
}

html{
    max-width: 100vw;
    font-size: 62.5%;

    ::-webkit-scrollbar{
        display:none;
    }

    body{
		min-height: 100vh;
		display: grid;
        grid-template-rows: auto 1fr auto;

		font-family: 'Roboto';
		background-color: nth($paleta,2);
		
		a{
			color:nth($paleta,1);
			text-decoration: none;
		}

        main{
            min-height: min-content;
			height: 700px;

			padding-bottom: 1rem;

			background-image: url('../images/montaña-izq.png'), url('../images/montaña-der.png');
			background-repeat: no-repeat;
			background-position:bottom;
			background-size: contain;
        }

        header, footer{
            background-color: nth($paleta, 4);
        }

		.btn_transparent{
			background-color: transparent;
			padding: 0.5rem;
			transition-duration: 0.4s;
			border: none;
		}

		.btn_transparent:hover,
		.btn_transparent:focus {
			text-shadow: 0 0px 10px white;
		}
    }
}