*{
    padding: 0;
    margin: 0;
}

html{
    max-width: 100vw;
    font-size: 62.5%;

    ::-webkit-scrollbar{
        display:none;
    }

    body{
        display: grid;
        grid-template-rows: auto 1fr auto;

        main{
            height: 100vh;
            background-color: nth($paleta,2);
        }

        header, footer{
            background-color: nth($paleta, 4);
        }
    }
}