*{
    padding: 0;
    margin: 0;
}

html{
    max-width: 100vw;
    font-size: 62.5%;

    ::-webkit-scrollbar{
        display:none;
    }

    body{
		min-height: 100vh;
		display: grid;
        grid-template-rows: auto 1fr auto;

		font-family: 'Roboto';
		background-color: nth($paleta,2);
		

        main{
            min-height: min-content;

			padding-bottom: 1rem;

			background-image: url('../images/montaña-izq.png'), url('../images/montaña-der.png');
			background-repeat: no-repeat;
			background-position:bottom;
			background-size: contain;
        }

        header, footer{
            background-color: nth($paleta, 4);
        }

		.linkStyle{
			a,i{
				color:nth($paleta,1);
				text-decoration: none;
				border: none;
			}
		}

		.linkStyle:hover{
			text-shadow: 0 0 10px nth($paleta, 1);
			cursor: pointer;
		}

		.btn_clear{
			background-color: transparent;
			border: none;

			transition: all linear 0.4s;
		}

		.btn_solid{
			background-color: nth($paleta,3);
			color: nth($paleta,1);
			border-radius: 5px;
			font-weight: bold;
			padding: 0.5rem;
		}

		.btn_solid:hover,
		.btn_solid:focus{
			box-shadow: 1px 1px 2px nth($paleta,5);
		}

		.btn_solid:hover,
		.btn_solid:focus,
		.btn_clear:focus,
		.btn_clear:hover{
			text-shadow: 0 0 10px nth($paleta, 1);
			cursor: pointer;
			color: nth($paleta,1);
			span{
				box-shadow: 0 0 5px nth($paleta, 1);
			}
		}

		.boxPointer{
			transition: all linear 0.2s;
		}

		.boxPointer:hover,
		.boxPointer:focus{
			box-shadow: 1px 1px 10px nth($paleta,5);
		}
		
		#prod_Container{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 2rem;		

			.prod_Card{
				min-height:max-content;
				width: min-content;
				padding: 1rem;
				margin: 0.5rem;
				border-radius: 0.5rem;
				border: 1px solid nth($paleta,4);
				background-color: nth($paleta,1);
	
				display: grid;
				grid-template-rows: repeat(5,auto);
				justify-content: center;
				align-items: center;
	
				row-gap: 1rem;
				
				div{
					width: 100%;
					display: flex;
					justify-content: center;

					text-align: justify;
	
					img{
						height: 200px;
						width: 200px;
						transition:all linear 0.4s;
						cursor: pointer;
					}
	
					img:hover{
						border: 1px solid nth($paleta,4);
					}
				}
			}
		}
    }
}