header{
    height: max-content;
    padding: 1rem;

	display: grid;
	
	grid-template-columns: auto 1fr auto;

	grid-template-areas:
	"hburger hlogo hcart"
	;

	#head_logo{
		grid-area: hlogo;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	#head_burger{
		grid-area: hburger;
		
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	#head_cart{
		grid-area: hcart;

		display: flex;
		justify-content: flex-end;
		align-items:flex-end;

		i{
			font-size: 3.2rem;
		}
	}

    i{
        color: nth($paleta , 1);
        font-size: 2rem;
    }
}
